{{ form_start(quoteForm, {'attr' : {'id' : 'quote-form'}}) }}
    <h3>Devis rapide en ligne</h3>
    <em>Ce devis est sans engagement, sa valeur n'est qu'éstimatif un devis plus précis vous seras transmit sous 24h par email.</em>
    <div>
        <h4>Votre Projet</h4>
        {{ form_row(quoteForm.type) }}

        {{ form_row(quoteForm.admin_panel) }}

        {{ form_row(quoteForm.start_project_date) }}

        {{ form_row(quoteForm.budget) }}

        {{ form_row(quoteForm.details) }}
    </div>

    <div>
        <h4>Votre Entreprise</h4>
        {{ form_row(quoteForm.company_name) }}

        {{ form_row(quoteForm.company_size) }}
    </div>


    <div>
        <h4>Vos coordonées</h4>
        {{ form_row(quoteForm.name) }}

        {{ form_row(quoteForm.phone) }}

        {{ form_row(quoteForm.email) }}
    </div>

    {{ form_row(quoteForm.submit) }}
{{ form_end(quoteForm) }}