{% extends 'base.html.twig' %}

{% block title %}Demande de devis - Stiwy Caritey{% endblock %}

{% block body %}
    <div id="page">
        <div id="progressbar">
            <section class="bar">
                <span></span>
                <div><div></div></div>
            </section>
            <a href="{{ path('app_quote_step_1') }}" class="step">
                <span>Votre projet</span>
                <div class="step-valid">1</div>
            </a>
            <a href="{{ path('app_quote_step_2') }}" class="step">
                <span>Votre Entreprise</span>
                <div class="step-valid">2</div>
            </a>
            <a href="{{ path('app_quote_step_3') }}" class="step">
                <span class="span-active">Vos coordonées</span>
                <div>3</div>
            </a>
            <div class="step">
                <span>Résultat</span>
                <div>4</div>
            </div>
        </div>
        <div id="form">
            {{ form_start(quoteForm) }}
                {{ form_row(quoteForm.name) }}
                {{ form_row(quoteForm.phone) }}
                {{ form_row(quoteForm.email) }}
                <div class="flex">
                    <a href="{{ path('app_quote_step_2') }}">Précédent</a>
                    {{ form_row(quoteForm.submit) }}
                </div>
            {{ form_end(quoteForm) }}
        </div>
    </div>
{% endblock %}
